<!DOCTYPE html>
<html lang="en">
    <%- include('head'); %>

<body class="container
">
    
    <%-include('header');%>

    <main>
        <div class="mt-4 p-5 bg-dark-subtle rounded">
            <h1>Sobre mim</h1>
            <p>Oi sou Guilherme Oliveira, e estou estudando NodeJS e EJS</p>
        </div>
    </main>

    <%-include('footer');%>
</body>
</html>