* {
  margin: 0;
}

button {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  line-height: 0;
}

button img {
  width: 2rem;
  height: 2rem;
}

.container {
  display: flex;
  margin: 25px;
  gap: 25px;
  justify-content: center;
}
